<!DOCTYPE html>
<html>
  <header></header>
  <body>
    <table style="width: 600px; height: 640px; margin: auto; background-color: antiquewhite">
      <tr>
        <td>
          <td style="text-align: center" align-center><img src="https://streamingupload.s3.ap-south-1.amazonaws.com/Group+377.png" width="100px" style="margin: auto" /></td>
        </tr>
        </td>
      </tr>
      <!-- <span> Dear <%= name %> ,Thank you For Registering.It's great to have you here.</span>
      <h3>Verify your email address</h3>
      <p class="info">
        Please confirm that you want use this as your account email address. One it's done your account will activated
      </p> -->
    </table>
  </body>
</html>
